<!-- <p>customer-list-presetation works!</p> -->

<button class="btn btn-outline-danger m-1" data-toggle="tooltip" data-placement="right" title="add" routerLink='add'>
  Add Customer
</button>

<table class="table table-stripede border border-secondary ">
    <thead class="thead-light">
      <th>Name</th>
      <th>address</th>
      <th class="text-center">Action</th>
    </thead>
    <tbody>
  
      <tr *ngFor="let customerListItem of customerList">
        <td>{{customerListItem.name}}</td>
        <td>{{customerListItem.address}}</td>
        <td class="text-center">
          <!-- <button class="btn btn-outline-primary m-1" data-toggle="tooltip" data-placement="right" title="Edit" [routerLink]="['/product/edit/']+customer.id">
            edit
          </button> -->
  
          <button class="btn btn-outline-danger m-1" data-toggle="tooltip" data-placement="right" title="Delete" (click)="deleteCustomer(customerListItem.id)">
            delete
          </button>
          
        </td>
      </tr>
  
    </tbody>
  </table>